@{
    ViewData["Title"] = "Home Page";
}


@section Scripts {
    <script src="~/lib/signalr/signalr.js"></script>

    <script type="text/javascript">
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("http://localhost:5098/MyHub").build();

        $("#connectionState").text(connection.state);


        connection.start().then(() => {
            $("#connectionState").text(connection.state);
        }).catch((err) => {
            return console.error(err.toString());
        });

        $("#send").click(() => {
            connection.invoke("SendName", $("#name").val());
        });

        connection.on("ReceiveName", (name) => {
            console.log(name);
        });
    </script>

}

<div class="row">
    <div class="col-md-8 offset-2">
        <input type="text" id="name" class="form-control" />
        <hr />
        <div class="alert alert-info">
            Connection State : <strong id="connectionState"></strong>
        </div>
        <button id="send" class="btn btn-primary">Send</button>
    </div>
</div>
